* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #F4304E;
  position: fixed;
  width: 100%;
}

ul {
  margin-left: 10vw;
}

body {
  font-family: sans-serif;
  background-color: #DCDCDC;
}

li {
  list-style-type: none;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

li:hover {
  background-color: #C51F40;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.flexcontainer {
  display: flex;
}

div.page {
  height: 100vh;
  width: 80%;
  margin: auto;
}

.blue-one {
  background-color: #AAB5BF;
}

.blue-two {
  background-color: #556C7F;
}

.blue-three {
  background-color: #16364F;
}

.blue-four {
  background-color:#132D41;
}
